<main class="flex-1 p-4 bg-white">
  <%= turbo_frame_tag 'realtors_list' do %>
    <!-- Headers -->
    <div class="grid grid-cols-4 px-4 py-2 font-semibold text-left text-gray-700 bg-gray-100 border-b">
      <!-- Name Header/Sort Link -->
      <%= link_to realtors_path(field: 'name', order: params[:order] == 'asc' ? 'desc' : 'asc', query: params[:query], page: @pagy.page), data: { turbo_frame: "realtors_list" } do %>
        <div class="col-span-1">
          Name
          <% if params[:field] == 'name' %>
            <%= params[:order] == 'asc' ? '↓' : '↑' %>
          <% end %>
        </div>
      <% end %>

      <!-- Brokerage Header -->
      <div class="col-span-1">Brokerage</div>

      <!-- Zipcode Header -->
      <div class="col-span-1">Zipcode</div>

      <!-- Image Header -->
      <div class="col-span-1">Image</div>
    </div>

    <!-- Realtor Rows -->
    <% @realtors.each do |realtor| %>
      <%= render realtor %>
    <% end %>
  <% end %>
</main>
