<!-- Search bar -->
<div class="mb-4">
  <div data-controller="search" data-search-url-value="<%= searches_url(format: :turbo_stream) %>">
    <%= form_with url: searches_path(format: :turbo_stream), method: :get, data: { turbo_frame: "realtors_list" }, id: "search-form", local: false do |form| %>
      <%= text_field_tag :query, params[:search], placeholder: 'Search by name...', 
               class: 'w-full px-4 py-2 border rounded-md shadow-sm',
               data: { action: "keyup->search#search", search_min_length_value: 3 } %>    
    <% end %>
  </div>
</div>
