<div class="flex">
  <aside class="w-64">
    <%= render 'filters' %> <!-- Renders the filters partial -->
  </aside>


   <main class="flex-1">
    <%= render 'realtors_list', realtors: @realtors %> <!-- Renders the realtors list partial -->
  </main>

<%== pagy_nav(@pagy).html_safe %>
</div>